@font-face {
  font-family: playFair;
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 200;
}

@font-face {
  font-family: playFair;
  src: url("./assets/fonts/PlayfairDisplay-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: playFair;
  src: url("./assets/fonts/PlayfairDisplay-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: playFair;
  src: url("./assets/fonts/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: lato;
  src: url("./assets/fonts/Lato-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: lato;
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: 200;
}

@font-face {
  font-family: lato;
  src: url("./assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
}

body {
  font-family: lato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: playFair;
}